// Fonts
$montserrat: 'Montserrat';
$myriadPro: 'Myriad Pro';

$color_white: #ffffff;

//headings
$fz-xxs: 16px;
$fz-xs: 18px;
$fz-sm: 20px;
$fz-md: 24px;
$fz-lg: 32px;

// heading
$h-md: 52px;
$h-lg: 64px;